.container {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 2px;
}

.ball{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
}

.dark {
  right: 2px;
  background-color: #333;
  transition: all 0.3s;
}

.light {
  left: 2px;
  background-color: #f1f1f1;
  transition: all 0.3s;
}