.title {
  font-size: 50px;
  margin: 50px 0px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 15%;
  height: 68px;
  padding: 0 18px;
  justify-content: center;
  border-radius: 8px;
}

.category:nth-child(n) {
  background-color: #57c4ff31;
}

.category:nth-child(2n) {
  background-color: #da85c731;
}

.category:nth-child(3n) {
  background-color: #7fb88133;
}

.category:nth-child(4n) {
  background-color: #ff795736;
}

.category:nth-child(5n) {
  background-color: #ffb04f45;
}

.image {
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.catTitle {
  flex-grow: 1;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}
